footer {
    background-color: antiquewhite;
}
body {
    font-family: Happy Monkey;
}
nav {
    background-color: antiquewhite;
    
}

a {
    margin-right: 20px;
}

img {
    width: 100px;
    height: 150px;
    
}